button {
    font: 300 16px/1.6 "Lato", Arial, Helvetica, sans-serif;
    color: white;
    width: 170px;
    height: 58px;
    background-color: $accentColor;
    text-transform: uppercase;



}

.button--big {
    font-weight: 500;
    font-size: 24px;
}