button {
    font: 400 16px/1.6 "Lato", Arial, Helvetica, sans-serif;
    color: white;
    width: 118px;
    height: 42px;
    background-color: $accentColor;
    text-transform: uppercase;
    cursor: pointer;


}

.button--big {
    font-weight: 500;
    font-size: 24px;
    width: 170px;
    height: 58px;
}


button:hover {
    background-color: $accentColorHover;
    animation: button-hover 0.2s;
}

@keyframes button-hover {
    from {
        background-color: $accentColor;
    }

    to {
        background-color: $accentColorHover;
    }
}