input {
    background: none;
    padding: 0 10px 0 50px;
    text-align: left;

    color: $mainColor;
    font-size: 18px;
    font-weight: 500px;
    min-width: 300px;
    height: 65px;
    border-bottom: 2px solid $mainColor;

    overflow: hidden;


    &::placeholder {
        color: $mainColorPlaceholder;
    }

    &::-webkit-search-cancel-button {
        display: none;
    }


}

.input {
    position: relative;
    margin-right: 60px;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        color: $mainColor;
        border: 2px solid $mainColor;
        width: 20px;
        height: 20px;
        border-radius: 50%;


    }

}

.input:hover::before,
.input:focus-within::before {
    content: '';


    color: $mainColor;
    border: 2px solid $accentColor;
    background-color: $accentColorHoverTransparent;
    animation-duration: 0.2s;
    animation-name: hovering;

}


@keyframes hovering {
    from {
        border-color: $mainColor;
        background-color: transparent;
    }

    to {

        border-color: $accentColorHover;
        background-color: $accentColorHoverTransparent;
    }
}