nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    color: $mainColor;

    font-size: 18px;
    padding: 62px 0;

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 47%;
        justify-content: space-between;
        align-items: center;
    }

    li {
        position: relative;
        padding: 0 4px
    }

    li:hover::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $accentColorHover;
        animation: li-hover 0.2s;
    }

    a {
        text-decoration: none;
        color: $mainColor;
    }

}

.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

@keyframes li-hover {
    from {
        background-color: transparent
    }

    to {
        background-color: $accentColorHover;
    }
}