@import '../../blocks/common/titles/h1.scss';

.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    width: 100%;
    padding: 263px - calc($sectionsDist /2) 0;
}


.main__subtitle {
    max-width: 620px;
    margin-bottom: 50px;
}