<section class="view">
    <div class="container">
    @@include("./src/blocks/view/__item/__item.html", {
    "title": "Prefecture in Focus: Tottori",
    "image": "Image_5.png",
    "text": " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis animi sed consequatur voluptatibus at corrupti dicta distinctio ab? Facilis deserunt quibusdam eos delectus omnis. Vitae numquam ex modi cum ut",
    "more": "VIEW PREFECTURE",
    })

    @@include("./src/blocks/view/__item/__item.html", {
    "title": "Featured Neighborhood: Kyoto's Arashiyama",
    "image": "Image_6.png",
    "text": "Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,",
    "more": "VIEW NEIGHBORHOOD",
    })

    </div>


</section>