// Colors
$accentColor: #006DFE;

$mainColor: #fff;
$articleColor: #000;
$secondColor: #102746;
$footerColor: #0E1D28;
//Sizes
$containerMaxSize: 1262px;
$littleContainerMaxSize: 1065px;

$sectionsDist: 124px;