// Colors
$accentColor: #006DFE;
$accentColorHover: rgb(40, 126, 240);
$accentColorHoverTransparent: rgba(40, 127, 240, 0.591);

$mainColor: #fff;
$mainColorPlaceholder: rgba(255, 255, 255, 0.876);
$articleColor: #000;
$secondColor: #102746;
$footerColor: #0E1D28;
//Sizes
$containerMaxSize: 1262px;
$littleContainerMaxSize: 1065px;

$sectionsDist: 124px;