.benefits__item {
    color: $articleColor;
    max-width: 320px;
    padding-right: 2%;


    p {
        margin-bottom: 39px;
    }

}

.benefits__icon {
    margin-bottom: 37px;
}

.benefits__title {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 18px;
}